@import "libs/bootstrap-reboot.min";
@import "libs/font";
@import "libs/slick";
@import "libs/animate";

@import "base/variables";
@import "base/animations";

* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header.scss";
@import "blocks/buttons";
@import "blocks/menu";
@import "blocks/advantages";
@import "blocks/titles";
@import "blocks/carousel";
@import "blocks/laennec";
@import "blocks/detox";
@import "blocks/vitamin";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/discount";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";
@import "base/media"