.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;

    img {
        width: 100%;
    }
}

.whatsuppme {
    display: none;
    position: fixed;
    bottom: 45px;
    left: 15px;
    width: 40px;
    height: 40px;
    z-index: 1;
    margin: auto;
    background: rgba($main-color, 0.7);
    padding: 1em 1em;
    border-radius: 50%;

    box-shadow: 0 0 0 5px rgba($main-color, 0.3),
        0 0 0 5px rgba($main-color, 0.3);

    animation: a 2s linear infinite;
}

@keyframes a {
    0% {
        box-shadow: 0 0 0 7px rgba($main-color, 0.3),
            0 0 0 0px rgba($main-color, 0.3)
    }

    50% {
        box-shadow: 0 0 0 12px rgba($main-color, 0.1),
            0 0 0 7px rgba($main-color, 0.3)
    }

    50.0001% {
        box-shadow: 0 0 0 0 rgba($main-color, 0.3),
            0 0 0 7px rgba($main-color, 0.3)
    }

    100% {
        box-shadow: 0 0 0 7px rgba($main-color, 0.3),
            0 0 0 12px rgba($main-color, 0.1)
    }


}

.wa_up {
    display: block;
    width: 35px;
    height: 35px;
}